# M3U URL'lerini buraya yaz (şifre içerdiği için .env dosyasını GitHub'a push etme!)
M3U_URL_1=http://SUNUCU:8080/get.php?username=KULLANICI&password=SIFRE&type=m3u_plus
M3U_URL_2=http://SUNUCU2:8080/get.php?username=KULLANICI&password=SIFRE&type=m3u_plus
# M3U_URL_3=
# M3U_URL_4=
